@import '/src/variables.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: local('Roboto'), url('../src/assets/fonts/Roboto-Regular.ttf');
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: $main-font;
  font-size: $font-size-1;
  line-height: $line-height-1;
  height: 100%;
  color: $basic-black;
}

.page-body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-columns: 152px 1fr;
  column-gap: 34px;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  max-width: $width-1;
}
