$main-font: 'Roboto', 'Arial', sans-serif;

$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #a3a3a3;
$basic-blue: #4b51ef;

$color-grey-1: #bdbdbd;

$font-size-1: 11px;
$font-size-2: 12px;

$line-height-1: 12.89px;
$line-height-2: 14.06px;

$width-1: 665px;
